node_modules/
build/
web/common
web/common.css
web/fonts/
web/images/icon_512x512.png
web/images/icon_96x96.png
web/node_modules/
cordova/www/common.css
cordova/platforms/android/.gradle
cordova/platforms/android/CordovaLib/build
cordova/platforms/android/res/xml/config.xml
cordova/www/common
cordova/platforms/android/assets/www
cordova/platforms/android/release-signing.properties
cordova/www/common
cordova/www/images
*.apk
.DS_Store
.sass-cache/
