// app global css in Sass form
@font-face
  font-family: 'Playball'
  src: url('/fonts/Playball/Playball-Regular.ttf') format('truetype')

p
  margin: 0 0 7px
  &.caption, &.lonely-btn
    margin-top: 14px
    margin-bottom: 7px
