// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #f44336
$secondary : #b71c1c
$accent    : #d900ff

$dark      : #212121
$dark-page : #212121

$positive  : #15cf40
$negative  : #ff9191
$info      : #eeeeee
$warning   : #F2C037

$body-font-size : 16px
$font-family    : Roboto, sans-serif
